@page "/mediosContactos"
@using BlazorContactos.Shared.DTOS.MediosContactos

@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>MediosContactos</h3>

    
<div class="row justify-content-end">
    <div class="col-lg-3 text-end">
        <button type="button" class="btn btn-success" @onclick=@(() => navigationManager.NavigateTo("medioContacto"))>Agregar</button>
    </div>
</div>

@if (mediosContactos == null)
{
    <h1>Cargando...</h1>
}
else if (mediosContactos.Count == 0)
{
    <h1>No se encontraron contactos registrados...</h1>
}
else
{
    <div class="table-responsive">
        <table class="table text-center table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mediosContacto in mediosContactos)
                {
                    <tr>
                        <td>@mediosContacto.Id</td>
                        <td>@mediosContacto.TipoContacto</td>
                        <td>@mediosContacto.Contacto</td>

                        <td>
                            <button class="btn btn-secondary" type="button" @onclick=@(() => navigationManager.NavigateTo($"mediosContacto/{mediosContacto.Id}"))>Editar</button>
                            <button class="btn btn-danger" type="button" @onclick="@(() => Eliminar(mediosContacto))">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@code {

      protected List<MediosContactoDTO> mediosContactos;

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetFromJsonAsync<List<MediosContactoDTO>>("api/MediosContactos");
        if (response != null)
        {
            mediosContactos = response;
        }
    }   

    protected async Task Eliminar(MediosContactoDTO medioContacto)
    {
        await httpClient.DeleteAsync($"api/MediosContactos/{medioContacto.Id}");
        mediosContactos.Remove(medioContacto);
    }

}
